.time-granted {
	margin: 0;
	padding: 0;
	box-shadow: 0 0 30px rgba(0,0,0,0.08) inset;
	color: #111;
}

#bodybody {
	text-align:center;
	width: 400px;
	height: 165px;
	font-family: segoe ui, sans-serif;
}

#bodybody h1 {
	text-decoration: none;
	text-shadow: 1px 1px 0 #EEE;
	letter-spacing: -2px;
	text-transform: lowercase;
	line-height: 75px;
	font-family: consolas, monospace;
	margin: 0;
	color: #111;
	font-weight: normal;
}

#bodybody h1 span {
	color: #FF7508;
	font-weight: bold;
}

#bodybody table {
	width: 100%;
}

#bodybody table th, #bodybody table td {
	padding: 10px;
}

#bodybody table th {
	font-weight: bold;
	text-align: right;
}

#bodybody table td {
	font-style: italic;
	text-align: left;
}

#bodybody #percent-cont {
	position: absolute;
	left: 46%;
	font-size: 10px;
	font-weight: bold;
	margin: 3px;

}

#bodybody #progress-cont {
	background: #ddd;
	position: fixed;
	bottom: 20px;
	left: 20px;
	right: 20px;
	border-radius: 4px;
	box-shadow: 0 0 2px rgba(0,0,0,0.1);
}

#bodybody #progress-cont #progress {
	background: #7abcff; /* Old browsers */
	background: -moz-linear-gradient(top,  #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */


	border-radius: 4px 0 0 4px;
}