#bodybody h1{
    text-align:center;
    text-decoration:underline;
}


#bodybody {
    width: 400px;
    font-family: Helvetica;
}

#bodybody div {
    text-align: center;
}

#percent-cont {
        position: absolute;
        left: 12em;

}

#progress-cont {
    /* width:100px; */
    margin-left:25%;
    margin-right:25%;
    overflow:hidden;
}

.start{
}

.end{
}
